
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

body {
  background: linear-gradient(0deg, rgba(30,40,54,1) 0%, rgba(23,31,43,1) 100%);
  background-repeat: no-repeat;
}

.App {
  margin: 0 auto;
  width: 60vw;
  font-family: 'Roboto';
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}